@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Currencies)]

<h1>Currencies</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td><a href="#">Add</a></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var currency in _currencies)
            {
                <tr @key=currency.Id>
                    <td>@currency.Tag</td>
                    <td>Edit</td>
                </tr>
            }
        </tbody>
    </table>
</div>
