@attribute [Microsoft.AspNetCore.Components.RouteAttribute(C.Routes.Issuers)]

<h1>Issuers</h1>

<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Contact Info</td>
                        <td>Currency</td>
                        <td>
                            <button class="btn btn-sm btn-outline-primary" @onclick=AddClicked>Add</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var issuer in _list)
                    {
                        <tr @key=issuer.Id>
                            <td>@issuer.Name</td>
                            <td>@issuer.ContactInfo</td>
                            <td>@issuer.Currency?.Tag</td>
                            <td>
                                <button class="btn btn-sm btn-outline-secondary"
                                    @onclick="()=>EditClicked(issuer)">Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        @if (_create != null)
        {
            <legend>Add Issuer</legend>
            <form @onsubmit=SaveCreateClicked>
                <TextBox For=@nameof(IssuerCreateModel.Name) Label=Name @bind-Value=_create.Name Errors=_errors Required />
                <TextBox For=@nameof(IssuerCreateModel.ContactInfo) Label="Contact Info" @bind-Value=_create.ContactInfo
                    Errors=_errors Lines=3 Required />
                <Dropdown For=@nameof(IssuerCreateModel.CurrencyId) Label="Currency" @bind-Value=_create.CurrencyId
                    Errors=_errors Required Items=_currenciesD />
                <TextBox For=@nameof(IssuerCreateModel.ClockifyUrl) Label="Clockify detailed url"
                    @bind-Value=_create.ClockifyUrl Errors=_errors />

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
            </form>
        }
        else if (_edit != null)
        {
            <legend>Edit @_edit.Name</legend>
            <form @onsubmit=SaveEditClicked>
                <TextBox For=@nameof(IssuerEditModel.Name) Label=Name @bind-Value=_edit.Name Errors=_errors Required />
                <TextBox For=@nameof(IssuerEditModel.ContactInfo) Label="Contact Info" @bind-Value=_edit.ContactInfo
                    Errors=_errors Lines=3 Required />
                <Dropdown For=@nameof(IssuerEditModel.CurrencyId) Label="Currency" @bind-Value=_edit.CurrencyId
                    Errors=_errors Required Items=_currenciesD />
                <TextBox For=@nameof(IssuerEditModel.ClockifyUrl) Label="Clockify detailed url"
                    @bind-Value=_edit.ClockifyUrl Errors=_errors />

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-danger" @onclick=CancelClicked>Cancel</button>
            </form>
        }
        else
        {
            <div class="alert alert-info">Select Issuer to edit or add.</div>
        }
    </div>
</div>